<div class="row justify-content-center">
    <div class="col col-sm-9 py-3">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <div class="text-center">
            {{#if request-brochure}}
                <h3 class="mb-3">Request a brochure</h3>
                <p class="mb">Which brochures would you like?</p>
            {{else}}
                <p class="mb-0">Looking to chat now</p>
                <h3>CALL 0845 074 0022</h3>
                <p class="mt-4">For information and enquiries, please fill in the form below
                    and we will be delighted to be of assistance.</p>
            {{/if}}
            <form method="POST" action="#">
                {{#if request-brochure}}
                <div class="mb-3">
                    {{#each kitchens as |kitchen|}}
                    <div class="form-check">
                        <label class="form-check-label">
                            {{input type="radio" class="form-check-input" name="kitchen" value=selectedKitchen}}
                            {{kitchen.name}}
                        </label>
                    </div>
                    {{/each}}
                </div>
                {{/if}}
                <div class="form-group {{validation 'form-group' name validationErrors.name validationDanger}}">
                    {{input value=name class=(validation 'form-control' name validationErrors.name validationDanger) placeholder="FULL NAME" key-press="triggerValidation" focus-out="triggerValidation"}}
                    <p class="form-control-feedback">{{validationErrors.name}}</p>
                </div>
                <div class="form-group {{validation 'form-group' email validationErrors.email validationDanger}}">
                    {{input value=email class=(validation 'form-control' email validationErrors.email validationDanger) placeholder="EMAIL" key-press="triggerValidation" focus-out="triggerValidation"}}
                    <p class="form-control-feedback">{{validationErrors.email}}</p>
                </div>
                <div class="form-group {{validation 'form-group' phone validationErrors.phone validationDanger}}">
                    {{input value=phone class=(validation 'form-control' phone validationErrors.phone validationDanger) placeholder="PHONE" key-press="triggerValidation" focus-out="triggerValidation"}}
                    <p class="form-control-feedback">{{validationErrors.phone}}</p>
                </div>
                <div class="form-group">
                    {{#if request-brochure}}
                        {{textarea value=address class="form-control" placeholder="ADDRESS"}}
                    {{else}}
                        {{textarea value=message class="form-control" placeholder="MESSAGE"}}
                    {{/if}}
                </div>
                <button {{action 'triggerSubmit'}} class="btn btn-primary">Send</button>
            </form>
        </div>
    </div>
</div>
