<div class="row justify-content-center">

    <div class="col col-sm-9 py-3">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <div class="text-center">
            <h3 class="mb-3">Sign up for events</h3>
            <p class="mb">{{headline}}</p>
            <form method="POST" action="#">
                <div class="form-group {{validation 'form-group' name validationErrors.name validationDanger}}">
                    {{input name="name" value=name class=(validation 'form-control' name validationErrors.name
                    validationDanger) placeholder="FULL NAME" key-press="triggerValidation"
                    focus-out="triggerValidation"}}
                    <p class="form-control-feedback">{{validationErrors.name}}</p>
                </div>
                <div class="form-group {{validation 'form-group' email validationErrors.email validationDanger}}">
                    {{input name="email" value=email class=(validation 'form-control' email validationErrors.email
                    validationDanger) placeholder="EMAIL" key-press="triggerValidation"
                    focus-out="triggerValidation"}}
                    <p class="form-control-feedback">{{validationErrors.email}}</p>
                </div>
                <div class="form-group {{validation 'form-group' phone validationErrors.phone validationDanger}}">
                    {{input name="phone" value=phone class=(validation 'form-control' phone validationErrors.phone
                    validationDanger) placeholder="PHONE" key-press="triggerValidation"
                    focus-out="triggerValidation"}}
                    <p class="form-control-feedback">{{validationErrors.phone}}</p>
                    <div class="form-group">
                        {{textarea name="address" value=address class="form-control" placeholder="ADDRESS"}}
                    </div>
                </div>
                <div class="mb-3">
                    <p>If you would like to receive information about our upcoming events and promotions please
                        check
                        the box below</p>
                    {{opt-in-checkbox onCheck="receiveInfo"}}
                </div>
                {{#unless statusMessage}}
                <button {{action 'triggerSubmit'}} class="btn btn-primary">Send</button>
                {{else}}
                <p>{{statusMessage}}</p>
                {{/unless}}
            </form>

        </div>



    </div>
</div>