<a class="social-icon {{if greyIcons 'social-icon-grey'}} {{if largeIcons 'social-icon-lg'}} social-icon-facebook" href="https://facebook.com/kitchensinternational/" target="_blank"></a>
<a class="social-icon {{if greyIcons 'social-icon-grey'}} {{if largeIcons 'social-icon-lg'}} social-icon-twitter" href="https://twitter.com/kitchensint" target="_blank"></a>
<a class="social-icon {{if greyIcons 'social-icon-grey'}} {{if largeIcons 'social-icon-lg'}} social-icon-youtube" href="https://youtube.com/channel/UC023IsBhqHfnU7W61SL--Ng" target="_blank"></a>
<a class="social-icon {{if greyIcons 'social-icon-grey'}} {{if largeIcons 'social-icon-lg'}} social-icon-instagram" href="https://www.instagram.com/kitchens.international/" target="_blank"></a>
<a class="social-icon {{if greyIcons 'social-icon-grey'}} {{if largeIcons 'social-icon-lg'}} social-icon-houzz" href="https://www.houzz.co.uk/pro/kitchensint/kitchens-international" target="_blank"></a>
{{yield}}
