<div class="container">
    <div class="row">
        <div class="col">
            <div class="store-hard-rule">
                <h5>FIND YOUR NEAREST SHOWROOM</h5>
            </div>
        </div>
    </div>
    <div class="row mb-4">
        {{#each stores as |store index|}}
        <div class="col-6 col-sm-4 col-md-2">
            <div {{action "selectStore" index}} class="py-2 hidden-xs-down select-store">
                <h5 class="store-title">{{store.town}}<br>
                    {{#if store.name}}<small>({{store.name}})</small>{{/if}}
                </h5>
                <hr class="{{if (eq activeStoreIndex index) 'hr-dark'}}">
            </div>
            {{#link-to 'store' store.slug class="py-2 hidden-sm-up text-center-sm d-block"}}
                <h5 class="store-title">{{store.town}}<br>
                    {{#if store.name}}<small>({{store.name}})</small>{{/if}}
                </h5>
                <hr class="{{if (eq activeStoreIndex index) 'hr-dark'}}">
            {{/link-to}}
        </div>
        {{/each}}
    </div>
</div>
<div class="map-container">
    <div class="map"></div>
    <div class="address">
        {{markdown-to-html activeStore.address class="text-white"}}
        <p class="text-white">T: <a {{action 'clickPhoneNumber' activeStore.town activeStore.name}} href="callto:{{activeStore.calltoNumber}}">{{activeStore.telephone}}</a></p>
        {{#link-to 'store' activeStore.slug class="btn btn-outline-secondary btn-sm"}}view store{{/link-to}}
        <a target="_blank" href="{{activeStore.directionsUrl}}" class="btn btn-outline-secondary btn-sm">get directions</a>
    </div>
    {{markdown-to-html activeStore.openingHours class="opening-hours text-white hidden-sm-down"}}
</div>
