{{header-nav}}
<div class="{{routing.currentRouteName}}">
    {{outlet}}
</div>
{{store-locations stores=stores activeStoreSlug=activeStore}}
<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col col-sm-3">
                {{#link-to 'home'}}<img class="footer-logo my-4" src="/assets/images/ki-logo-white-full.svg" alt="Kitchens International Logo">{{/link-to}}
            </div>
            <div class="col col-sm-6 text-center">
                {{#contact-form-button class="mt-4" form-id="contact-form"}}Request a consultation{{/contact-form-button}}
            </div>
            <div class="col col-sm-3 text-right">
                {{social-icons class="mb-4 mt-4"}}
            </div>
        </div>
    </div>
</footer>
{{contact-form id="contact-form"}}
