{{head-layout}}
{{header-nav}}
<div class="{{routing.currentRouteName}}">
    {{outlet}}
</div>
{{store-locations stores=stores activeStoreSlug=activeStore class="mt-5"}}

<footer>
    <div class="container-fluid">
        <div class="row d-flex align-items-center">
            <div class="col-12 col-md-4 text-center">
                {{#link-to 'home'}}<img class="footer-logo my-4" src="/assets/images/ki-logo-white-full.svg" alt="Kitchens International Logo">{{/link-to}}
            </div>
                <div class="col-12 col-md-4 text-center">
                    {{#contact-form-button class="my-4" form-id="contact-form"}}Request a
                    consultation{{/contact-form-button}}
                </div>
                <div class="col-12 col-md-4 my-4">
                    <div class="row">
                        <div class="d-flex align-items-center justify-content-center justify-content-xl-end social-wrap col-12 col-xl-9 text-right text-center-md pr-0">
                            {{#link-to 'privacy-policy'}}
                            <span class="pr-1">Privacy notice</span>
                            {{/link-to}}

                            {{social-icons class="my-4 pt-4 pr-2"}}
                        </div>
                        <div class="col-12 col-xl-3 pt-4 text-center-md d-flex justify-content-center justify-content-md-end align-items-center">
                            <div>
                                <img class="kbsa-logo pr-2" src="/assets/images/KBSA_Logo_CMYK-01.png" alt="KBSA Logo">
                        </div>
                                <div>
                                    <img class="iq-logo" src="/assets/images/5stariqdesignstudio-logo.png" alt="IQ-logo">
                        </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
</footer>
{{contact-form-modal id="contact-form"}}