{{header-nav}}
<div class="{{routing.currentRouteName}}">
    {{outlet}}
</div>
<footer>
    <div class="container">
        <div class="row">
            <div class="col">
                <img class="footer-logo py-4" src="/assets/images/ki-logo-white-full.svg" alt="Kitchens International Logo">
            </div>
            <div class="col col-8 text-center">
                <div class="pt-5">
                <button class="btn btn-sm btn-outline-secondary">Get in touch</button>
                <button class="btn btn-sm btn-outline-secondary">Request a consultation</button>
                <button class="btn btn-sm btn-outline-secondary">Request a brochure</button>
                </div>
            </div>
            <div class="col">
                <p class="text-white text-center mb-0 py-5">
                    <a href="https://www.facebook.com/kitchensinternational/" target="_blank">{{fa-icon "facebook-square" size=2}}</a>
                    <a href="https://twitter.com/kitchensint" target="_blank">{{fa-icon "twitter-square" size=2}}</a>
                </p>
            </div>
        </div>
    </div>
</footer>
