{{header-nav}}
<div class="{{routing.currentRouteName}}">
    {{outlet}}
</div>
{{store-locations stores=stores activeStoreSlug=activeStore class="mt-5"}}

<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-sm-3 text-center-sm">
                {{#link-to 'home'}}<img class="footer-logo my-4" src="/assets/images/ki-logo-white-full.svg" alt="Kitchens International Logo">{{/link-to}}
            </div>
            <div class="col-12 col-sm-9">
                <div class="row">
                    <div class="col-12 col-md-8 text-center text-right-md">
                        {{#contact-form-button class="my-4" form-id="contact-form"}}Request a consultation{{/contact-form-button}}
                    </div>
                    <div class="col-12 col-md-4 text-right text-center-sm">
                        {{social-icons class="my-4"}}
                        <img class="kbsa-logo" src="/assets/images/KBSA_Logo_CMYK-01.png" alt="KBSA Logo">
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
{{contact-form-modal id="contact-form"}}
