{{header-nav}}
<div class="{{routing.currentRouteName}}">
    {{outlet}}
</div>
<footer>
    <div class="container">
        <div class="row">
            <div class="col">
                <img class="footer-logo py-4" src="/assets/images/ki-logo-white-small.svg" alt="Kitchens International Logo">
            </div>
            <div class="col col-8">
                <p class="text-white text-center mb-0 py-5">
                    <small>24 Westfield Road | Murrayfield | Edinburgh<br>
                        EH11 2QB<br>
                        T: 0131 337 3434</small>
                </p>
            </div>
            <div class="col">
                <p class="text-white text-center mb-0 py-5">
                    <a href="https://www.facebook.com/kitchensinternational/" target="_blank">{{fa-icon "facebook-square" size=2}}</a>
                    <a href="https://twitter.com/kitchensint" target="_blank">{{fa-icon "twitter-square" size=2}}</a>
                    <a href="https://uk.pinterest.com/kitchensint/" target="_blank">{{fa-icon "pinterest-square" size=2}}</a>
                </p>
            </div>
        </div>
    </div>
</footer>
