<div class="introduction" style={{background-image model.content.featuredImage.file.url}}>
    <div class="bottom-hugger py-3">
        {{#heading-after-scroll class="mb-0"}}{{model.content.heading}}{{/heading-after-scroll}}
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col text-center py-4">
            {{contact-form}}
        </div>
    </div>
</div>
<div class="background-gray mb-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center text-white py-4">
                {{markdown-to-html model.content.introduction}}
            </div>
        </div>
    </div>
</div>
<div class="container-fluid mb-5">
    <div class="row">
        {{#each model.stores as |store|}}
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="d-flex align-items-center img-background img-tinted mb-4" style={{background-image store.featuredImage.file.url}}>
                    <div class="col text-center">
                        {{#link-to 'store' store.slug class="btn btn-outline-secondary"}}{{store.town}}{{#if store.name}}, {{store.name}}{{/if}}{{/link-to}}
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>
