<div class="introduction" style={{background-image model.content.featuredImage.file.url}}>
    <div class="heading">
        {{#heading-after-scroll class="mb-0"}}{{model.content.heading}}{{/heading-after-scroll}}
        <hr>
    </div>
</div>
<div class="background-taupe">
    <div class="container-fluid">
        <div class="row">
            <div class="col py-3 sub-heading">
                {{markdown-to-html model.content.subHeading}}
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col col-sm-10 col-md-8 py-5 my-3 text-center text-lg">
            {{markdown-to-html model.content.introduction class="text-center"}}
        </div>
    </div>
</div>
{{#each sortedEndorsements as |endorsement|}}
<div class="background-taupe mb-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="d-flex align-items-center img-background img-tinted" style={{background-image endorsement.featuredImage.file.url}}>
                    <div class="col text-white text-center">
                         <button class="btn btn-outline-secondary" type="button" data-toggle="collapse" data-target="#collapseEndorsement{{endorsement.id}}" aria-expanded="false" aria-controls="collapseEndorsement{{endorsement.id}}">{{endorsement.name}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="collapseEndorsement{{endorsement.id}}" class="container-fluid collapse">
    <div class="row mb-5">
        {{#if endorsement.contentArea1}}
        <div class="col">
            {{markdown-to-html endorsement.contentArea1}}
        </div>
        {{/if}}
        {{#if endorsement.contentArea2}}
        <div class="col">
            {{markdown-to-html endorsement.contentArea2}}
        </div>
        {{/if}}
        {{#if endorsement.contentArea3}}
        <div class="col">
            {{markdown-to-html endorsement.contentArea3}}
        </div>
        {{/if}}
        {{#if endorsement.contentArea4}}
        <div class="col">
            {{markdown-to-html endorsement.contentArea4}}
        </div>
        {{/if}}
    </div>
</div>
{{/each}}
