<div class="introduction" style={{background-image model.featuredImageProxy}}>
    <div class="heading">
        {{#heading-after-scroll class="mb-0"}}{{model.heading}}{{/heading-after-scroll}}
        <hr>
    </div>
</div>
<div class="container">
    <div class="row pt-5 pb-5">
        <div class="col text-center">
            <p><a href="/summer-sale" class="btn btn-outline-primary btn-sm mb-2">Back to Summer Sale</a></p>
            {{markdown-to-html model.description}}
            <h3 class="py-3">RRP: £{{ model.price }}</h3>
            <h2 class="sale-price font-weight-bold">SALE: £{{ model.salePrice }}</h2>
        </div>
    </div>
</div>
<div class="background-taupe mb-5">
    <div class="container-fluid">
        <div class="row">
            {{#each model.images as |image index| }}
                <div class="col-12 col-sm-4 mb-5 mb-sm-0">
                    <img src="{{image.file.url}}" class="img-fluid" />
                </div>
                {{/each}}
        </div>
    </div>
</div>
<!---->


<div class="container py-4">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 text-center text-right-md">
            {{#contact-form-button form-id="contact-form" white-text=false class="my-3"}}Get in touch{{/contact-form-button}}
        </div>
    </div>
</div>
