<div class="introduction" style={{background-image model.content.featuredImage.file.url}}>
    <div class="bottom-hugger py-3">
        {{#heading-after-scroll class="mb-0"}}{{model.content.heading}}{{/heading-after-scroll}}
    </div>
</div>
<div class="background-taupe mb-3">
    <div class="container-fluid">
        <div class="row justify-content-center pt-5 pb-4">
            <div class="col col-sm-10">
                {{markdown-to-html model.content.introduction class="text-center"}}
            </div>
        </div>
    </div>
</div>
{{#each model.kitchens as |kitchen|}}
<div class="background-taupe mb-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="d-flex align-items-center justify-content-center img-background img-tinted" style={{background-image kitchen.featuredImage.file.url}}>
                    <div class="col-7 text-center text-white">
                         <p class="mb-4">{{#link-to 'kitchen' kitchen.slug class="btn btn-outline-secondary"}}{{kitchen.name}}{{/link-to}}</p>
                         {{markdown-to-html kitchen.excerpt class="hidden-xs-down"}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{/each}}
