<div class="introduction" style={{background-image model.content.featuredImage.file.url}}>
    <div class="heading">
        {{#heading-after-scroll class="mb-0"}}{{model.content.heading}}{{/heading-after-scroll}}
        <hr>
    </div>
</div>
<div class="background-taupe">
    <div class="container-fluid">
        <div class="row">
            <div class="col py-3 sub-heading">
                {{markdown-to-html model.content.subHeading}}
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col col-sm-10 col-md-8 py-5 my-3 text-center text-lg">
            {{markdown-to-html model.content.introduction class="text-center"}}
        </div>
    </div>
    <div class="row">
    {{#each model.projects as |project|}}
        <div class="col-12 col-sm-6">
            <div class="d-flex align-items-center img-background img-tinted mb-4" style={{background-image project.featuredImage.file.url}}>
                <div class="col text-center">
                     {{#link-to 'project' project.slug class="btn btn-outline-secondary"}}{{project.name}}{{/link-to}}
                </div>
            </div>
        </div>
    {{/each}}
    </div>
</div>
