<div class="introduction" style={{background-image model.content.featuredImage.file.url}}>
    <div class="bottom-hugger py-3">
        {{#heading-after-scroll class="mb-0"}}{{model.content.heading}}{{/heading-after-scroll}}
    </div>
</div>
<div class="container-fluid">
    <div class="row justify-content-center pt-5 pb-4">
        <div class="col col-sm-10">
            {{markdown-to-html model.content.introduction class="text-center"}}
        </div>
    </div>
    <div class="row">
    {{#each model.projects as |project|}}
        <div class="col-12 col-sm-6">
            <div class="d-flex align-items-center img-background img-tinted mb-4" style={{background-image project.featuredImage.file.url}}>
                <div class="col text-center">
                     {{#link-to 'project' project.slug class="btn btn-outline-secondary"}}{{project.name}}{{/link-to}}
                </div>
            </div>
        </div>
    {{/each}}
    </div>
</div>
