<div class="introduction" style={{background-image model.featuredImage.file.url}}>
    <div class="bottom-hugger py-3">
        {{#heading-after-scroll class="mb-0"}}{{model.name}}, {{model.location}}{{/heading-after-scroll}}
    </div>
</div>
<div class="container">
    <div class="row pt-5 pb-4">
        <div class="col text-center">
            <h3>Creating the brief</h3>
            {{markdown-to-html model.brief}}
        </div>
    </div>
</div>
<div class="background-taupe mb-5">
    <section class="container-fluid">
        <div class="row mb-5">
            <div class="col-12 col-sm-6">
                {{#slide-in-wrapper position="left"}}
                <div class="p-5">
                    <h3>Design consultation</h3>
                    <hr>
                    {{markdown-to-html model.consultation}}
                </div>
                {{/slide-in-wrapper}}
            </div>
            <div class="col-12 col-sm-6">
                {{#slide-in-wrapper position="right"}}
                    {{#if (object-at model.images 0)}}
                    <img class="img-fluid" src="{{object-at model.images 0 'file.url'}}" alt="{{object-at model.images 0 'title'}}">
                    {{/if}}
                {{/slide-in-wrapper}}
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-12 col-sm-6 mb-5 mb-sm-0">
                {{#slide-in-wrapper position="left"}}
                    {{#if (object-at model.images 1)}}
                    <img class="img-fluid" src="{{object-at model.images 1 'file.url'}}" alt="{{object-at model.images 1 'title'}}">
                    {{/if}}
                {{/slide-in-wrapper}}
            </div>
            <div class="col-12 col-sm-6">
                {{#slide-in-wrapper position="right"}}
                    {{#if (object-at model.images 2)}}
                    <img class="img-fluid" src="{{object-at model.images 2 'file.url'}}" alt="{{object-at model.images 2 'title'}}">
                    {{/if}}
                {{/slide-in-wrapper}}
            </div>
        </div>
    </section>
</div>
<div class="background-taupe mb-5">
    <section class="container-fluid">
        <div class="row mb-5">
            <div class="col-12 col-sm-6">
                {{#slide-in-wrapper position="left"}}
                    {{#if (object-at model.images 3)}}
                    <img class="img-fluid" src="{{object-at model.images 3 'file.url'}}" alt="{{object-at model.images 3 'title'}}">
                    {{/if}}
                {{/slide-in-wrapper}}
            </div>
            <div class="col-12 col-sm-6">
                {{#slide-in-wrapper position="right"}}
                <div class="p-5">
                    <h3>Design</h3>
                    <hr>
                    {{markdown-to-html model.design}}
                </div>
                {{/slide-in-wrapper}}
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-12 col-sm-6 mb-5 mb-sm-0">
                {{#slide-in-wrapper position="left"}}
                    {{#if (object-at model.images 4)}}
                    <img class="img-fluid" src="{{object-at model.images 4 'file.url'}}" alt="{{object-at model.images 4 'title'}}">
                    {{/if}}
                {{/slide-in-wrapper}}
            </div>
            <div class="col-12 col-sm-6">
                {{#slide-in-wrapper position="right"}}
                    {{#if (object-at model.images 5)}}
                    <img class="img-fluid" src="{{object-at model.images 5 'file.url'}}" alt="{{object-at model.images 5 'title'}}">
                    {{/if}}
                {{/slide-in-wrapper}}
            </div>
        </div>
    </section>
</div>
<div class="background-taupe mb-5">
    <section class="container-fluid">
        <div class="row mb-5">
            <div class="col-12 col-sm-6">
                {{#slide-in-wrapper position="left"}}
                <div class="p-5">
                    <h3>Install</h3>
                    <hr>
                    {{markdown-to-html model.install}}
                </div>
                {{/slide-in-wrapper}}
            </div>
            <div class="col-12 col-sm-6">
                {{#slide-in-wrapper position="right"}}
                    {{#if (object-at model.images 6)}}
                    <img class="img-fluid" src="{{object-at model.images 6 'file.url'}}" alt="{{object-at model.images 6 'title'}}">
                    {{/if}}
                {{/slide-in-wrapper}}
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-12 col-sm-6 mb-5 mb-sm-0">
                {{#slide-in-wrapper position="left"}}
                    {{#if (object-at model.images 7)}}
                    <img class="img-fluid mb-5 mb-sm-0" src="{{object-at model.images 7 'file.url'}}" alt="{{object-at model.images 7 'title'}}">
                    {{/if}}
                {{/slide-in-wrapper}}
            </div>
            <div class="col-12 col-sm-6">
                {{#slide-in-wrapper position="right"}}
                    {{#if (object-at model.images 8)}}
                    <img class="img-fluid" src="{{object-at model.images 8 'file.url'}}" alt="{{object-at model.images 8 'title'}}">
                    {{/if}}
                {{/slide-in-wrapper}}
            </div>
        </div>
    </section>
</div>
<div class="container mb-5">
    <div class="row">
        <div class="col text-center">
            {{markdown-to-html model.signOff}}
        </div>
    </div>
</div>
