<div class="introduction full d-flex align-items-center justify-content-center"
    style={{background-image model.content.featuredImage.file.url}}>
    <div class="heading d-flex align-items-center justify-content-center flex-column">
        <div class="holder ">
            <img class="iq-logo animate-logo  mb-5" src="/assets/images/25.png" alt="IQ-logo">

            {{#heading-after-scroll class="mb-0"}}{{ markdown-to-html
                model.content.heading}}{{/heading-after-scroll}}
        </div>
            <a onclick={{action "scrollDown"}} class="btn btn-outline-secondary mt-5 my-4" href='#'>EARLY BIRD OFFERS</a>
        </div>

    </div>


    <div class="mt-4 mb-3">
        <section class="container">
            <div class="row">
                <div class="background-taupe col-md-12 text-center pt-3 pb-3 pl-5 pr-5">
                    <div class="years mb-2">
                        <div class="d-flex align-items-center justify-content-center h-100">
                            <span class="medium-font">25<span class="medium-font small">YEARS</span></span>
                        </div>
                    </div>
                    <p>{{markdown-to-html model.content.introduction}}</p>
                    {{#sign-up-button class="btn btn-outline-primary my-4 button-on-gray" form-id="sign-up-form"}}Sign
                    up for
                    events{{/sign-up-button}}
                </div>
            </div>
        </section>
    </div>




    {{sign-up-modal id="sign-up-form"}}
    {{share-kitchen-modal id="share-kitchen-form"}}