<div class="introduction full d-flex align-items-center justify-content-center mb-4"
    style={{background-image model.content.featuredImage.file.url}}>
    <div class="heading d-flex align-items-center justify-content-center flex-column">
        <div class="holder ">
            <div class="inner-holder">
                <img class="iq-logo animate-logo  mb-5" src="/assets/images/25.png" alt="IQ-logo">
            </div>
                {{#heading-after-scroll class="mb-0"}}{{ markdown-to-html
                model.content.heading}}{{/heading-after-scroll}}
            </div>
            <a onclick={{action "scrollDown"}} class="btn btn-outline-secondary mt-5 my-4" href='#'>Take me to the offers</a>
        </div>

    </div>


    <div class="mt-4 mb-5">
        <section class="container">
            <div class="row ml-0 mr-0">
                <div class="background-taupe col-md-12 text-center pt-3 pb-3 red-bottom">
                    <div class="years mb-2">
                        <div class="d-flex align-items-center justify-content-center h-100">
                            <span class="medium-font">25<span class="medium-font small">YEARS</span></span>
                        </div>
                    </div>
                    <h3 class="card-title font-weight-regular mb-0">{{ markdown-to-html
                model.content.heading}}</h3>
                    <hr>
                    <p class="pl-4 pr-4 col-md-10 offset-md-1">{{markdown-to-html model.content.introduction}}</p>
                    {{#contact-form-button form-id="contact-sale" white-text=false class="my-3"}}Request
                    design
                    consultation{{/contact-form-button}}
                </div>
            </div>
        </section>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="card mb-5">
                    {{image-carousel id="carousel" showControls=true images=model.content.carouselImages class="carousel-sales"}}
                    <div class="background-taupe sub-heading-bckg">
                        <div class="row">
                            <div class="col py-2">
                            </div>
                        </div>
                    </div>
                    <div class="card-block d-flex justify-content-center">
                        <div class="col col-sm-12 text-center text-lg py-3">
                            {{markdown-to-html model.content.splashContent class="card-text red-span font-oswald bold-title"}}
                            {{#contact-form-button form-id="contact-sale" white-text=false class="my-3"}}Request
                            design
                            consultation{{/contact-form-button}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {{#each featuredSalesOrdered as |feature index|}}
    <div class="mb-3 special-discount">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="red-bottom  d-flex align-items-center img-background extra-height img-tinted red-bottom"
                        style={{background-image feature.featuredSaleImage.file.url}}>
                    </div>
                </div>
            </div>
            <div class="background-taupe oswald-dark pl-5 pr-5 mb-5 red-span">
                <h3 class="text-center title pt-4 pb-2 font-weight-regular l-0 h1">{{{ feature.featuredSaleTitle}}}</h3>
                <p class="text-center mb-0">
                    {{!--
                    <hr class="hr-dark"> --}}
                </p>
                <div class="row justify-content-center">
                    <div class="col col-sm-12 my-3 text-center text-lg">
                        {{markdown-to-html feature.featuredSaleContent}}
                        {{#contact-form-button form-id="contact-sale" white-text=false class="my-3"}}Request
                        design
                        consultation{{/contact-form-button}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/each}}

    <div class="container" id="myGroup">
        <div class="row">
            {{#each model.sales.first as |sale index|}}
            <div class="col-6 col-sm-6 mb-0">
                <div class="d-flex align-items-center img-background img-tinted red-bottom position-relative"
                    style={{background-image sale.featuredImage.file.url}}>
                    <div class="background-taupe dark-inset">
                        <div class="py-2 text-center">
                            <button onclick={{action "toggle"}} class="btn btn-outline-secondary appliance-button" type="button" data-parent="#myGroup" data-toggle="collapse" data-target="#collapseSale{{sale.id}}" aria-expanded="false" aria-controls="collapseSale{{sale.id}}">{{sale.name}}</button>
                        </div>
                    </div>
                </div>
                <div class="background-taupe sub-heading-bckg">
                    <div class="row">
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
    <div class="container">
        <div class="row">
            {{#each model.sales.first as |sale index|}}

            <div id="collapseSale{{sale.id}}" data-parent="#myGroup"
                class="container-fluid collapse {{sale.slug}} mt-5">
                <h1>{{sale.name}}</h1>
                <hr>
                <div class="row mb-5">
                    {{#if sale.appliancePackContent1}}
                    <div class="col">
                        {{markdown-to-html sale.appliancePackContent1 class="d-flex flex-column oswald-dark
                        text-center"}}
                    </div>
                    {{/if}}
                    {{#if sale.appliancePackContent2}}
                    <div class="col">
                        {{markdown-to-html sale.appliancePackContent2 class="d-flex flex-column oswald-dark
                        text-center"}}
                    </div>
                    {{/if}}
                    {{#if sale.appliancePackContent3}}
                    <div class="col">
                        {{markdown-to-html sale.appliancePackContent3 class="d-flex flex-column oswald-dark
                        text-center"}}
                    </div>
                    {{/if}}
                    {{#if sale.appliancePackContent4}}
                    <div class="col">
                        {{markdown-to-html sale.appliancePackContent4 class="d-flex flex-column oswald-dark
                        text-center"}}
                    </div>
                    {{/if}}
                    {{#if sale.appliancePackContent5}}
                    <div class="col">
                        {{markdown-to-html sale.appliancePackContent5 class="d-flex flex-column oswald-dark
                        text-center"}}
                    </div>
                    {{/if}}
                    {{#if sale.saleInfo}}
                    <div class="col-12 background-taupe mt-3 mb-5">
                        <div class="col py-2 text-center">
                            <h1>{{sale.name}}:</h1>
                            {{markdown-to-html sale.saleInfo class="d-flex flex-column oswald-dark red-span"}}
                        </div>
                    </div>
                    {{/if}}
                </div>
            </div>
            {{/each}}
        </div>
    </div>
    <section class="container mb-5">
        <div class="row ml-0 mr-0">
            <div class="background-taupe col-md-12 text-center pt-3 pb-3 bold-title red-span">
                <p>{{markdown-to-html model.content.appliancePackContent}}</p>
                {{#contact-form-button form-id="contact-sale" white-text=false class="my-3"}}Find out
                more{{/contact-form-button}}
            </div>
        </div>
    </section>
    {{#each notFeaturedSalesOrdered as |feature index|}}
    <div class="mb-3 special-discount">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="red-bottom  d-flex align-items-center img-background extra-height img-tinted red-bottom"
                        style={{background-image feature.featuredSaleImage.file.url}}>
                    </div>
                </div>
            </div>
            <div class="background-taupe oswald-dark mb-5 red-span pl-5 pr-5">
                <h3 class="text-center title pt-4 pb-0 font-weight-regular l-0 h1">{{{ feature.featuredSaleTitle}}}</h3>
                <p class="text-center mb-0">
                    {{!--
                    <hr class="hr-dark"> --}}
                </p>
                <div class="row justify-content-center">
                    <div class="col col-sm-12 my-0 text-center text-lg">
                        {{markdown-to-html feature.featuredSaleContent}}
                        {{#contact-form-button form-id="contact-sale" white-text=false class="my-3"}}Request
                        design
                        consultation{{/contact-form-button}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
    <div class="container text-center mt-4">
        <div class="col-md-8 offset-md-2">
            <h4 class="font-weight-regular l-0">We've been creative with our offers, so you can be creative with your
                kitchen.
            </h4>
            <p class="mb-2 mt-1">
                Call us or pop into one of our nearest studios to find the best deal for you. For further information,
                fill
                out the form below or Call us on: 0845 070 0022
            </p>
        </div>
        {{#contact-form-button form-id="contact-sale" white-text=false class="my-3"}}Get in
        touch{{/contact-form-button}}
    </div>

    {{contact-form-modal id="contact-sale"}}