<div class="introduction full d-flex align-items-center justify-content-center"
    style={{background-image model.content.featuredImage.file.url}}>
    <div class="heading d-flex align-items-center justify-content-center flex-column">
        <div class="holder">
            <img class="iq-logo animate-logo mb-5" src="/assets/images/25.png" alt="IQ-logo">

            {{!-- {{#heading-after-scroll class="mb-0"}}{{ markdown-to-html
                model.content.name}}{{/heading-after-scroll}} --}}
        </div>
            <a onclick={{action "scrollDown"}} class="btn btn-outline-secondary mt-5 my-4" href='#'>Join the celebrations</a>
        </div>

    </div>

    <div class="mt-4">
        <section class="container">
            <div class="row">
                <div class="col-12 col-sm-12 mt-5">
                    <img class="img-fluid" src="{{model.content.topImage.file.url}}" alt="{{model.content.topImage.title}}">
            </div>{{!-- {{/each}} --}}
                </div>
                <div class="row pb-5">
                    {{#each model.content.images as |image|}}
                    <div class="col-md-4 mt-3">
                        <img class="img-fluid" src="{{image.file.url}}" alt="{{image.title}}">
                </div>
                        {{/each}}
                    </div>
        </section>
    </div>


    <div class="mt-4 mb-3">
        <section class="container">
            <div class="row">
                <div class="background-taupe col-md-12 text-center pt-3 pb-3 pl-5 pr-5">
                    <div class="years mb-2">
                        <div class="d-flex align-items-center justify-content-center h-100">
                            <span class="medium-font">25<span class="medium-font small">YEARS</span></span>
                        </div>
                    </div>
                    <p>{{markdown-to-html model.content.content}}</p>
                    {{#sign-up-button class="btn btn-outline-primary my-4 button-on-gray" form-id="sign-up-form"}}Sign
                    up for
                    events{{/sign-up-button}}
                </div>
            </div>
        </section>
    </div>


    <div class="container mt-5 text-center">
        <div class="row justify-content-center">
            <div class="col-md-2 text-center">
                <img src="/assets/images/myki.png" class="img-fluid my-kitchen" alt="Kitchens International - The Art of the Kitchen">
                <hr class="d-md-block d-none">

            </div>

        </div>
        <p class="text-center">{{model.content.sharedKitchenText}}</p>
        {{#share-kitchen-button class="btn btn-outline-primary my-4 button-on-gray" form-id="share-kitchen-form"}}Share
        your
        kitchen{{/share-kitchen-button}}

    </div>
    <div class="container mt-5">
        <div class="row">
            {{#each model.kitchens as |kitchen|}}
            <div class="col-md-4 mt-3">
                {{#if (eq kitchen.isGallery true)}}
                <div class="position-relative">
                    <a class="d-block img-background img-background img-background-cover" style={{background-image kitchen.gallery.firstObject.file.url}} href="{{kitchen.gallery.firstObject.file.url}}" data-lightbox="{{kitchen.name}}" data-title="<span class='btn-vote' onclick={{action "scrollDown"}}>Vote here</span>"></a>
                    {{#vote-button class="vote-here" kitchen=kitchen name=kitchen.name}} {{fa-icon  "heart" size="lg"}}
                    <span id="vote-{{kitchen.type}}">{{kitchen.votes}}</span>{{/vote-button}}
                </div>
                {{else}}
                <div class="position-relative">
                    <div class="position-relative">
                        <a class="d-block position-relative img-background img-background img-background-cover" style={{background-image kitchen.imagesArr.firstObject}} href="{{kitchen.imagesArr.firstObject}}" data-lightbox="{{kitchen.name}}" data-title="<span class='btn-vote' onclick={{action "scrollDown"}}>Vote here</span>"></a>

                        {{#vote-button class="vote-here" kitchen=kitchen name=kitchen.name}}
                        {{fa-icon  "heart" size="lg"}}
                        <span id="vote-{{kitchen.type}}">{{kitchen.votes}}</span>{{/vote-button}}
                    </div>
                </div>
                {{/if}}


                {{#if (eq kitchen.isGallery true)}}
                {{#each kitchen.imagesArr as |image index|}}

                {{#if (eq index 0)}}

                {{else}}
                <a class="d-none position-relative img-background img-background-cover" style={{image}} href="{{image}}" data-lightbox="{{kitchen.name}}" data-title="<span onclick={{action "scrollDown"}}>Vote here</span>">
            </a>
                {{/if}}
                {{/each}}
                {{else}}
                {{/if}}
                <div class="pl-1 pr-1">
                    <p class="text-center mt-1">{{markdown-to-html kitchen.description}}</p>
                    <p class="text-center mt-1">{{markdown-to-html kitchen.author}}</p>
                </div>
            </div>
            {{/each}}
        </div>
    </div>


    {{sign-up-modal id="sign-up-form"}}
    {{share-kitchen-modal id="share-kitchen-form"}}