<div class="introduction text-white" style={{background-image model.featuredImage.file.url}}>
    <h1>{{model.title}}</h1>
</div>
<div class="background-taupe mb-5">
    <div class="container">
        <div class="row">
            <article class="col py-5">
                <p><small>{{moment-format model.publicationDate 'MMMM DD, YYYY'}}</small></p>
                <h3>{{model.title}}</h3>
                {{markdown-to-html model.content}}
                {{disqus-comments identifier=model.slug title=model.title class="mt-5"}}
            </article>
        </div>
    </div>
</div>
