<div class="introduction" style={{background-image model.featuredImage.file.url}}>
    <div class="bottom-hugger py-3">
        {{#heading-after-scroll class="mb-0"}}{{model.town}}{{#if model.name}}, {{model.name}}{{/if}}{{/heading-after-scroll}}
    </div>
</div>
<div class="container-fluid pt-5 pb-4">
    <div class="row justify-content-center">
        <div class="col col-sm-10">
            {{markdown-to-html model.description class="text-center"}}
        </div>
    </div>
</div>
<div class="background-taupe mb-5">
    <div class="container-fluid">
        <div class="row">
            {{#each model.images as |image|}}
            <div class="col-12 col-sm-4 mb-5 mb-sm-0">
                <img src="{{image.file.url}}" class="img-fluid">
            </div>
            {{/each}}
        </div>
    </div>
</div>
